<mat-toolbar color="primary">
  <span class="title-center">Razvoj višeslojnih aplikacija</span>
</mat-toolbar>

<h1><p><u> Dobrodošli na početnu stranicu</u></p></h1>
<br>

<h3><p> Ova aplikacija omogućava osnovne funkcionalnosti
  nad podacima za tabele: </p></h3>
<p>
  <li>Nacionalnost</li>
  <li>Liga</li>
  <li>Tim</li>
  <li>Igrač</li>
</p>

<pre><p>
  Za svaku klasu moguće je <strong>izlistati podatke,sortirati,pretražiti, izmena, dodavanje, brisanje elementa</strong>.
  Za <strong>frontend</strong> deo je korišten <strong>Angular</strong>, dok je <strong>backend</strong> deo korišćen <strong>Spring</strong>.
  Za <strong>bazu</strong> je korištena <strong>postgres</strong> baza podataka </p></pre>



